# Ignore everything
/*

# Unignore these directories
!.gitignore
!/external
!/include
!/src

# Unignore these files
!README.md
!LICENSE.txt
!CMakeLists.txt

# Reignore these files
*.vcxproj
*.filters
*.user
